<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="nx.css" />
    <title>NEWLIFE</title>
  </head>
  <body>
    <div id="main">
      <div class="page1">
        <div class="nav">
          <nav>
            NEWLIFE
            <div class="NAV1">
              <ul>
                <li>HOME</li>
                <a href="/yoga"><li>Yoga</li></a>
                <a href="/services"><li>services</li></a>
                <a href="/logout"><li>logout</li></a>


                
                
                <a href="/login"><li>login</li></a>
                <a href="/register"><li>register</li></a>

              </ul>
            </div>
          </nav>
        </div>

        
          <section class="home" id="home">
            <div class="content">
                <h3>NewLife</h3>
                <h1>
                    Healthy You Makes a Healthy Family
                </h1>
                <p class="p1">
                    NewLife is your personalised health <br> care website designed to make your life healthy.
                    <br> NewLife is your new First Aid Kit.
                </p>
                
               
            </div>
        </section>
    
      </div>
    </div>
    
</section>
    </div>
    <div class="page3"></div>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="app.js"></script>
  </body>
</html>