<% layout('./layouts/boilerplate.ejs') %>

    <body>
        <h1 class="yoga">Benifits of Yoga</h1>

        <body>
            <div class="flex">

                <div class="yoga_pose">
                    <div class="yoga_img">
                        <img src="https://syn1.wpenginepowered.com/wp-content/uploads/2019/12/yoga-pose-Bridge-Bandha-800x533.jpg"
                            alt="">
                    </div>
                    <div class="aboutYoga">
                        The Bridge yoga pose is a great front hip joints opener, it also strengthens your spine, opens
                        the
                        chest, and improves your spinal flexibility in addition to stimulating your thyroid.
                    </div>
                </div>

                <div class="yoga_pose">
                    <div class="yoga_img">
                        <img src="https://syn1.wpenginepowered.com/wp-content/uploads/2019/12/yoga-pose-Downward-Dog-Adho-Mukha-Svanasana.jpg"
                            alt="">
                    </div>
                    <div class="aboutYoga">
                        The Downward Dog yoga pose lengthens and decompresses the spine, stretches the hamstrings, strengthens your arms, flushes your brain with fresh oxygen and calms your mind. 
                    </div>
                </div>

                <div class="yoga_pose">
                    <div class="yoga_img">
                        <img src="https://syn1.wpenginepowered.com/wp-content/uploads/2019/12/yoga-pose-Child-Pose-Balasana.jpg"
                            alt="">
                    </div>
                    <div class="aboutYoga">
                        The Child Pose is a resting pose useful to relieve neck, back and hip strain. While in the posture you should have slow are regulated breath; extended arms; resting hips and your forehead should be touching the mat. 
                    </div>
                </div>
                <div class="yoga_pose">
                    <div class="yoga_img">
                        <img src="https://syn1.wpenginepowered.com/wp-content/uploads/2019/12/yoga-pose-Easy-Pose-Sukhasana-800x533.jpg"
                            alt="">
                    </div>
                    <div class="aboutYoga">
                        The Easy Pose may seem as an easy pose but it has many benefits for the body. For example, it is a hip opener, it is calming, and it eases the menstrual pain for women in addition to lowering the level of anxiety.
                    </div>
                </div>

            </div>

        </body>


    </body>