<% layout('./layouts/boilerplate.ejs') %>

<body>
  <section class="login">
    <div class="box">
      <div id="intro">
        <h1> Welcome here!</h1>
        <h6>Login to your account</h6>
      </div>
      <form method="post" action="/login">
        <label for="">Username:</label>
        </label>
        <input name="username" type="text" placeholder="Username">
        <br>
        <label for="">Password:</label>
        <input name="password" type="text" placeholder="********">
        <button type="submit">sign in </button>
      </form>
    </div>
  </section>


</body>