<% layout('./layouts/boilerplate.ejs') %>




  <body>
    <section class="login">
      <div class="box">
        <div id="intro">
          <h1> Welcome here!</h1>
          <h6> Register Here</h6>
        </div>
        <form method="post" action="/register" >
          <label for="">Username:</label>
          </label>
          <input name="username" type="text" placeholder="Username">
          <br>
          <label for="">Email:</label>
          </label>
          <input name="email" type="text" placeholder="write your email">
          <br>
          <label for="">Password:</label>
          <input name="password" type="text" placeholder="********">
          <button type="submit">sign Up </button>
        </div>
      </section>
    </form>


  </body>