<% layout('./layouts/boilerplate.ejs') %>


    <body>

        <div class="page2">
            <section class="services" id="services">
                <h1 class="heading">Our Services</h1>
                <div class="box-container">
                    <div class="box">
                        <img src="https://static.vecteezy.com/system/resources/previews/013/087/969/non_2x/online-doctor-consultation-flat-design-logo-aplication-doctor-cartoon-for-mobile-app-free-vector.jpg"  alt="">
                        <h3>Personalised HealthCare</h3>
                        <p>NewLife Provides you all in Different Experience With Our Exclusive Health Care by Our Top
                            Health Professionals</p>
                        <a href="#" class="btn">Read More</a>
                    </div>
                    <div class="box-container">
                        <div class="box">
                            <img src="https://th.bing.com/th/id/OIP.M_S6ABLKojsb-eX7StmJ3QHaFj?rs=1&pid=ImgDetMain" width="100rem" alt="">
                            <h3>Personalised HealthCare</h3>
                            <p>NewLife Provides you all in Different Experience With Our Exclusive Health Care by Our
                                Top Health Professionals</p>
                            <a href="#" class="btn">Read More</a>
                        </div>
                        <div class="box">
                            <img src="https://media.istockphoto.com/id/1168780464/vector/family-doctor-or-dentist-and-mom-dad-with-children.jpg?s=612x612&w=0&k=20&c=rWdogi1Z6ZptChSdwu9fryRmAjD_B7YTVeDJBo5DI2o=" width="100rem" alt="">
                            <h3>Personalised HealthCare</h3>
                            <p>NewLife Provides you all in Different Experience With Our Exclusive Health Care by Our
                                Top Health Professionals</p>
                            <a href="#" class="btn">Read More</a>
                        </div>
                    </div>
    </body>